@{
    ViewBag.Title = "Home Page";
}

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Charm" rel="stylesheet">
<link href="~/Content/stil.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

<html>
<head>
    <style>
        body {
            background: url('/Slike/slika1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        h1 {
            font-family: 'Monoton';
            font-size: 80px;
            color: white;
            margin: 0px;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
            font-weight: 800;
            text-shadow: 2px 2px #e5beb9;
        }

        #box1 {
            margin: 0 auto;
            position: absolute;
            top: 25%;
            left: 20%;
        }

        h3 {
            color: white;
            padding-top: 50px;
            font-family: 'Dosis', sans-serif;
            font-size: 30px;
            text-align: center;
            padding-right: 100px;
        }

        #mini-omotac {
            margin: 0 auto;
            width: 800px;
            height: 400px;
            background: rgb(0,0,0,0.7);
            position: relative;
            top: 40px;
            border: 1px solid #912222;
        }
    </style>
</head>
<body>
    <div id="mini-omotac">
        <div id="box1">
            <h1>DOBRODOSLI</h1>
            <h3>“Uvek budite upecatljivi i kreativni, tezeci da ostanete ispred vremena” </h3>

        </div>
    </div>



</body>
</html>